@font-face {
  font-family: myfont;
  src: url(font/Poppins-Black.ttf);
}
body {
    font-weight: 300;
    letter-spacing: 0.03em;
    background-color: #f7f7f7;
  }
  .section{
      height: 100vh;
  }
  .section1{
    background-attachment: fixed;
    background: #212121;
  }
  main.container-fluid {
    padding-left: 0;
    padding-right: 0;
  }
  .containerimg{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .containerimg h1{
    z-index: 0;
    font-family: myfont;
    font-size: 4rem;  
    font-weight: 700;
    letter-spacing: 2px;
    color: white;
    position: absolute;
    top: 50%;
  }
  .containerimg img{
    z-index: 1;
  }
  
  .spacer {
    height: 40vh;
  }
  
  .rectangle {
    font-family: myfont;
    text-align: center;
    color: white;
    font-weight: 100;
    width: 90vw;
    height: 70vw;
    border-radius: 10px;
    background: linear-gradient(45deg, #69b7bf 25%, #ffe664);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  @media (min-width: 500px) {
    .rectangle {
      width: 80%;
      height: 25rem;
      font-size: 2rem;
    }
  }
  
  .section > .row > .col {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
  }
  
  #intro .col {
    height: 50vh;
    padding: 9vw 6vw;
    font-size: 18px;
  }
  
  @media (min-width: 1000px) {
    #intro .col {
      padding: 18vw 12vw;
      font-size: 2.7vw;
    }
    img.img-fluid{
        margin-bottom: 4rem;
    }
  }
  
  #one {
    background-color: #212121;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  #one .elem {
    opacity: 0;
    letter-spacing: 0.04em;
  }
  
  #one .text-block h2 {
    font-size: 5vw;
    letter-spacing: 0.2em;
    font-weight: 300;
    line-height: 1;
  }
  
  #one .text-block h5 {
    font-size: 4vw;
    line-height: 1;
  }
  
  #one .elem .blocks {
    display: flex;
    justify-content: space-between;
    align-content: center;
    align-items: center;
  }
  
  #one .elem .blocks > div {
    height: 20px;
    width: 20px;
    margin: 2px;
    border-radius: 2px;
    background-color: #333;
  }
  
  #two {
    height: auto;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3vw 15vw 10vw;
    background-attachment: fixed;
    background: radial-gradient(circle, rgb(122, 99, 109) 0%, rgba(148,187,233,1) 100%);
  }
  
  #three, #four {
    position: relative;
    overflow: hidden;
  }
  
  #three .image, #four .image {
    position: absolute;
    top: 0;
    bottom:0;
    width: 100%;
  }
  
  #three .image {
    background-image: url("https://drive.google.com/uc?export=view&id=10tzeBrvoR5OO3EK_Wcg-gRxbVO7xv6em");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  
  #four .image {
    background-image: url("https://drive.google.com/uc?export=view&id=1SzCTDu5_eAF569lFHtNyIlUCrdW2mOXu");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  